.home_page {
  position: relative;
  .apply_button {
    position: absolute;
    width: 80%;
    left: 50%;
    right: 50%;
    bottom: -15%;
    transform: translate(-50%,-50%);
  }
  .p-card {
    background: #C8E2D6;
    .p-dropdown {
      min-width: 250px;
    }
  }
  .loading_wrapper {
    min-height: 400px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
}